/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: #2a2626;
}

.bg-image::before {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;

  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sctn {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.content {
  max-width: 1110px;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.header-text-mt {
  margin-top: 190px;
}

.text-center {
  text-align: center;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.d-flex {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-container {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.nav-item {
  width: 350px;
  padding: 24px;
  box-sizing: border-box;
  display: block;
}

.nav-item:hover {
  color: #fff;
  background-color: #fe8a02;
}

.nav-item:hover h2 {
  color: #fff;
}

.nav-item:hover h3 {
  color: #fff;
}

.h-number {
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mt-30 {
  margin-top: 30px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.col-2 {
  column-count: 2;
  column-gap: 30px;
}

.col {
  break-after: column;
}

.header-img {
  top: -45px;
  right: -270px;
  height: 525px;
}

.header-btn {
  display: inline-block;

  margin-top: 37px;
  padding: 12px 24px;

  font-weight: bold;
  text-decoration: none;
}

.header-btn:hover {
  background-color: #ea7600;
}

.video {
  margin-top: 30px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 15%));
}

.video-overlay {
  height: 116px;
  width: 100%;
  top: -100px;
  background: #42413c;
}

.h-font {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h-nav {
  font-size: 52px;
  margin: 0;
}

.h3 {
  font-size: 34px;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.text-white-50 {
  color: #d7ccc0;
}

.bg-light {
  background-color: #f5f4f0;
}

.text-prim {
  color: #fe8a02;
}

.bg-prim {
  background-color: #fe8a02;
}

.bg-prim-dark {
  background-color: #42413c;
}

.text-dark {
  color: #2a2626;
}

.text-prim-dark {
  color: #42413c;
}

.text-dark-1 {
  color: #212529;
}

.text-dark-50 {
  color: #908d8b;
}

.bg-brown {
  background-color: #b09a81;
}

.text-blue {
  color: #1085c5;
}
