/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../../assets/fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
}

.sctn::before {
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 10%;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sctn {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.content {
  max-width: 1110px;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.header-text-mt {
  margin-top: 190px;
}

.text-center {
  text-align: center;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mt-30 {
  margin-top: 30px;
}

.m-0 {
  margin: 0;
}

.col-2 {
  column-count: 2;
  column-gap: 30px;
}

.col {
  break-after: column;
}

.header-img {
  height: 525px;
  top: -45px;
  right: -270px;
}

.header-btn {
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}

.video {
  margin-top: 30px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-overlay {
  height: 116px;
  width: 100%;
  top: -100px;
  background: #42413c;
}

.main-font {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.h-font {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.text-white-50 {
  color: #d7ccc0;
}

.bg-light {
  background-color: #f5f4f0;
}

.text-prim {
  color: #fe8a02;
}

.bg-prim {
  background-color: #fe8a02;
}

.bg-prim-dark {
  background-color: #42413c;
}

.text-dark {
  color: #2a2626;
}

.text-dark-1 {
  color: #212529;
}

.text-dark-50 {
  color: #908d8b;
}

.bg-brown {
  background-color: #b09a81;
}

.text-blue {
  color: #1085c5;
}
